html,
body {
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;  
  align-items: center;
}
#circle {
  z-index: -10;
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn {
  opacity: 0;
  -moz-animation: cssAnimation 5s;
  /* Firefox */
  -webkit-animation: cssAnimation 5s;
  /* Safari and Chrome */
  -o-animation: cssAnimation 5s;
  /* Opera */
  animation: cssAnimation 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  70% {
      opacity: 0;
  }
  90% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}
@-webkit-keyframes cssAnimation {
  70% {
      opacity: 0;
  }
  90% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

/*  */
#particles-js{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -10;
}